<div ng-controller="MainCtrl as vm">
  <div class="row">
    <div class="col-sm-4" ng-repeat="photo in vm.photos track by photo.src">
      <div style="background-image: url({{photo.src}}); height: 150px; background-size: cover; background-position: center; margin-bottom: 25px ">
    </div>
  </div>

  <form action="http://localhost:3000/api/photos" method="post" enctype="multipart/form-data">
    <input name="myFile" type="file" class="form-control"/>
    <!--<input name="width" value="50%" style="display: none"/>-->
    <!--<input name="widgetId" value="123" style="display: none"/>-->
    <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    <br>
  </form>
</div>
